<p>
  <label>Habilitado</label>
  <%= check_box_tag 'settings[enabled]', '1', @settings['enabled'].to_s == '1' %>
</p>

<p>
  <label>Provedor</label>
  <%= select_tag 'settings[provider]',
      options_for_select([['Ollama','ollama'],['OpenAI compatible','openai_compatible']], @settings['provider']) %>
</p>

<p>
  <label>URL</label>
  <%= text_field_tag 'settings[endpoint_url]', @settings['endpoint_url'], size: 80 %>
</p>

<p>
  <label>Modelo</label>
  <%= text_field_tag 'settings[model]', @settings['model'] %>
</p>

<p>
  <label>Campo de resumo</label>
  <%= select_tag 'settings[custom_field_id]',
      options_from_collection_for_select(IssueCustomField.all, :id, :name, @settings['custom_field_id']),
      include_blank: '-- Selecione --' %>
</p>

<p>
  <label>Máx caracteres</label>
  <%= number_field_tag 'settings[max_chars]', @settings['max_chars'] %>
</p>

<p>
  <label>Incluir comentários</label>
  <%= check_box_tag 'settings[include_journals]', '1', @settings['include_journals'].to_s == '1' %>
</p>

<p>
  <label>Overwrite</label>
  <%= check_box_tag 'settings[overwrite_existing]', '1', @settings['overwrite_existing'].to_s == '1' %>
</p>

<p>
  <label>Trigger create</label>
  <%= check_box_tag 'settings[trigger_on_create]', '1', @settings['trigger_on_create'].to_s == '1' %>
</p>

<p>
  <label>Trigger update</label>
  <%= check_box_tag 'settings[trigger_on_update]', '1', @settings['trigger_on_update'].to_s == '1' %>
</p>

<p>
  <label>Prompt</label><br>
  <%= text_area_tag 'settings[prompt_template]',
      @settings['prompt_template'],
      rows: 10,
      cols: 100 %>
</p>